<ion-content>
  <div class="background"></div>
  <div class="heading">
    <h1>Welcome</h1>
    <p>Please login or signup to continue using our app.</p>
  </div>
  <div class="image">
    <img src="assets/icon/rb_23790.png" alt="welcome">
  </div>
  <div class="social-login">
    <p>Enter via social network</p>
    <div class="links">
      <ion-button class="twitter" routerLink="/dashboard">
        <img src="assets/icon/social_15707820.png" alt="Twitter" />
      </ion-button>
      <ion-button class="facebook" routerLink="/dashboard">
        <img src="assets/icon/google_2504739.png" alt="Facebook" />
      </ion-button>
    </div>
  </div>
  <div class="email-login">
    <p>Or Signin with email</p>
    <ion-button class="signup" routerLink="/signup">Signup</ion-button>
  </div>
</ion-content>
